@media (max-width: 1370px) {
  .carrusel img {
    height: 400px;
  }

  .fondo-productos-1 {
    max-width: 200px;
  }

  .fondo-productos-2 {
    max-width: 200px;
  }

  .fondo-productos-3 {
    max-width: 200px;
  }

  .fondo-productos-4 {
    max-width: 200px;
  }

  .fondo-productos-1 img {
    width: 200px;
  }

  .fondo-productos-2 img {
    width: 200px;
  }

  .fondo-productos-3 img {
    width: 200px;
  }

  .fondo-productos-4 img {
    width: 200px;
  }

  .conjunto-seccion-2-1 img {
    width: 200px;
  }

  .conjunto-seccion-2-1 h2 {
    font-size: 17px;
  }

  .conjunto-seccion-2-2 img {
    width: 200px;
  }

  .conjunto-seccion-2-2 h2 {
    font-size: 17px;
  }

  .conjunto-seccion-2-3 img {
    width: 200px;
  }

  .conjunto-seccion-2-3 h2 {
    font-size: 17px;
  }

  .conjunto-seccion-2-4 img {
    width: 200px;
  }

  .conjunto-seccion-2-4 h2 {
    font-size: 17px;
  }
}
