@media (max-width: 440px) {
  .btn-1 button {
    padding: 15px 20px;
  }

  .conjunto-seccion-2-1 img {
    width: 170px;
  }

  .conjunto-seccion-2-1 h2 {
    font-size: 13px;
  }

  .conjunto-seccion-2-2 img {
    width: 170px;
  }

  .conjunto-seccion-2-2 h2 {
    font-size: 13px;
  }

  .fondo-productos-2 img {
    width: 170px;
  }

  .fondo-productos-4 img {
    width: 170px;
  }

  .fondo-productos-2 {
    max-width: 170px;
  }

  .fondo-productos-4 {
    max-width: 170px;
  }
  .img-productos img {
    width: 150px;
    height: 150px;
  }

  .conjuntos-productos-1 {
    max-width: 150px;
  }

  .conjuntos-productos-2 {
    max-width: 150px;
  }

  .conjuntos-productos-5 {
    max-width: 150px;
  }

  .conjuntos-productos-6 {
    max-width: 150px;
  }

  .conjuntos-productos-9 {
    max-width: 150px;
  }

  .conjuntos-productos-10 {
    max-width: 150px;
  }
}
