@media (max-width: 880px) {
  .barra-busqueda input {
    width: 300px;
  }

  .login-carrito img {
    width: 30px;
  }

  .img-productos img {
    width: 12.5rem;
    height: 12.5rem;
  }

  .conjuntos-productos-1 {
    max-width: 200px;
  }

  .conjuntos-productos-2 {
    max-width: 200px;
  }

  .conjuntos-productos-3 {
    max-width: 200px;
  }

  .conjuntos-productos-5 {
    max-width: 200px;
  }

  .conjuntos-productos-6 {
    max-width: 200px;
  }

  .conjuntos-productos-7 {
    max-width: 200px;
  }

  .conjuntos-productos-9 {
    max-width: 200px;
  }

  .conjuntos-productos-10 {
    max-width: 200px;
  }

  .conjuntos-productos-11 {
    max-width: 200px;
  }
}
